@model IEnumerable<IdmanistData.Model.Product>
@{
    ViewBag.Title = "Index";
}

<h2>Məhsullar</h2>
<p>
    @Html.ActionLink("Yeni məhsul", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model=>model.Category.CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product_date)
        </th>
        <th>

        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(model => item.Category.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(model => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(model => item.Product_date)
            </td>
            <td>
                @Html.ActionLink("Dəyişdir","Edit", new { id= item.ProductId}) |
                @Html.ActionLink("Detallar","Details", new { id = item.ProductId}) |
                @Html.ActionLink("Sil", "Delete", new { id= item.ProductId})



            </td>
        </tr>
    }
</table>
