@model IEnumerable<IdmanistData.Model.Category>
@{
    ViewBag.Title = "Kateqoriyalar";
}
<h2>Kateqoriyalar</h2>

<p>
    @Html.ActionLink("Yeni Kateqoriya", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CategoryName)
        </th>
        <th>

        </th>
    </tr>
    @foreach(var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(model=> item.CategoryName)
            </td>
            <td>
                @Html.ActionLink("Dəyişdir", "Edit", new { id = item.CategoryId }) |
                @Html.ActionLink("Detallar", "Details", new { id = item.CategoryId }) |
                @Html.ActionLink("Sil", "Delete", new { id = item.CategoryId }) |
            </td>
        </tr>

    }
</table>